-- =================================================================================
-- PERFORMANCE OPTIMIZATIONS & EXPORT CAPABILITIES FOR MANTHAN REGISTRATIONS
-- =================================================================================

-- Backward-compatible column additions for older deployments
ALTER TABLE registrations ADD COLUMN IF NOT EXISTS team_registrations JSONB DEFAULT '[]'::jsonb;
ALTER TABLE registrations ADD COLUMN IF NOT EXISTS checked_in BOOLEAN DEFAULT false;
ALTER TABLE registrations ADD COLUMN IF NOT EXISTS checked_in_at TIMESTAMPTZ;
ALTER TABLE registrations ADD COLUMN IF NOT EXISTS checked_in_by UUID;

-- 1. Indexing optimizations to speed up filtering on arrays and JSON fields
-- GIN (Generalized Inverted Index) is perfect for arrays and JSON data querying.
CREATE INDEX IF NOT EXISTS idx_registrations_event_ids ON registrations USING GIN (event_ids);
CREATE INDEX IF NOT EXISTS idx_registrations_team_data ON registrations USING GIN (team_registrations);

-- 2. CREATE A VIRTUAL EXPORT TABLE (VIEW) for PERFECT SPREADSHEETS
-- This separates the single checkout row into distinct single-event registration rows
-- Extracting team member JSON data intelligently for quick Microsoft Excel/CSV export.
CREATE OR REPLACE VIEW organized_event_registrations_export WITH (security_invoker = true) AS
SELECT 
    e.category AS event_category,
    e.name AS event_name,
    r.ticket_id,
    r.name AS lead_participant_name,
    r.email AS lead_email,
    r.phone AS lead_phone,
    r.college,
    r.department,
    r.year,
    r.payment_status,
    r.payment_method,
    r.total_amount,
    r.created_at AS registration_date,
    tr.team_name,
    tr.team_size,
    (
        SELECT string_agg(m->>'name', ', ') 
        FROM jsonb_array_elements(tr.team_data->'members') AS m
    ) AS other_team_members,
    r.checked_in
FROM registrations r
-- Unravel the event_ids array
CROSS JOIN LATERAL unnest(r.event_ids) AS eid(event_id)
-- Join to bring in event info
JOIN events e ON e.id = eid.event_id
-- Pull the specific team info block from the JSON that matches this unraveled event_id
LEFT JOIN LATERAL (
    SELECT 
        t->>'team_name' AS team_name,
        (t->>'team_size')::int AS team_size,
        t AS team_data
    FROM jsonb_array_elements(
        CASE 
            WHEN jsonb_typeof(r.team_registrations) = 'array' THEN r.team_registrations 
            ELSE '[]'::jsonb 
        END
    ) AS t
    WHERE (t->>'event_id')::uuid = eid.event_id
) tr ON true;

-- Explanation:
-- Rather than copying tables and splitting up existing Next.js logic,
-- This `view` unravels the event combinations on the PostgreSQL level automatically
-- so your API and CSV exporter can fetch clean single-row-per-participation exports!
